<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-size: 18px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        li {
            display: inline;
            padding: 10px;
        }
        p {
            font-size: 18px;
            text-align: left;
            padding-left: 50px;
            line-height: 0.5;
        }
    </style>
</head>
<body>
    <div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="chart_1A">ChartA1</a></li>
            <li><a href="chart_2A">ChartA2</a></li>
            <li><a href="chart_3A">ChartA3</a></li>
            <li><a href="chart_1W">ChartW1</a></li>
            <li><a href="chart_2W">ChartW2</a></li>
            <li><a href="table_1A">TableA1</a></li>
            <li><a href="table_2A">TableA2</a></li>
            <li><a href="table_3A">TableA3</a></li>
        </ul>
    </div>
    <div>
        <p>home</p>
        <p>click link from header</p>
        <p>A1 1. AHU/PAU Performance Findings</p>
        <p>A2 2. Field Device Findings</p>
        <p>A3 3. Control</p>
        <p>W1 4. Chiller Plant Performance Findings</p>
        <p>W2 5. Field Device Findings</p>
    </div>
</body>
</html>